<template>
    <ul class="nav navbar-nav navbar-primary" id="main-menu">
        <li v-for="item in modules">
            <a :href="'/'+item.name.toLowerCase()" v-if="(item.active && item.menuitem)">{{item.name}}</a>
        </li>
    </ul>
</template>

<script>
    export default {
        props: ['items'],

        computed: {
            modules() {
                return this.$store.getters.getModules;
            }
        },

        methods: {},

        mounted() {

        }
    }
</script>