<template>
    <div class="progress-container">
        <div class="alert alert-danger" v-if="ShowAlert">
            <span class="pficon pficon-error-circle-o"></span>
            <strong>Critical State!</strong>
        </div>

        <div class="progress-description">
            <span :class="['pficon', StatusIcon]" v-if="thresholds"></span> <span v-html="desc"></span>
        </div>
        <div class="progress progress-label-top-right">
            <div :class="['progress-bar', BarColor]"
                 role="progressbar"
                 :aria-valuenow="BarValue"
                 :aria-valuemin="valuemin"
                 :aria-valuemax="valuemax"
                 :style="{width: BarValue+'%'}"
                 data-toggle="tooltip"
                 :title="percentage+'%'"
            >
                <span v-html="label"></span>
            </div>
            <div class="progress-bar progress-bar-remaining"
                 role="progressbar"
                 :aria-valuenow="availpercentage"
                 :aria-valuemin="valuemin"
                 :aria-valuemax="valuemax"
                 :style="{width: availpercentage+'%'}"
                 data-toggle="tooltip"
                 :title="availpercentage+'% Available'"
            >
                <span class="sr-only">{{availpercentage}}% Available</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {}
        },
        props: {
            percentage: {required: true},
            availpercentage: {required: true},
            desc: {type: String, default: ''},
            label: {type: String, default: ''},
            warn: {default: 60},
            danger: {default: 90},
            valuemin: {default: 0},
            valuemax: {default: 100},
            thresholds: {type: Boolean, default: false},
            alerts: {type: Boolean, default: false}
        },
        computed: {

            /**
             * @return {boolean}
             */
            ShowAlert() {
                if (this.thresholds && this.alerts) {
                    if (this.percentage >= 95) {
                        return true;
                    }
                }
            },

            /**
             * @return {string}
             */
            Status() {
                if (this.percentage >= this.warn && this.percentage < this.danger) {
                    return 'warning';
                } else if (this.percentage >= this.danger) {
                    return 'danger';
                }

                return 'success';
            },

            /**
             * @return {number}
             */
            BarValue() {
                if (this.percentage >= 100) {
                    return 100;
                }

                return this.percentage;
            },

            /**
             * @return {string}
             */
            BarColor() {
                if (this.thresholds) {
                    return 'progress-bar-' + this.Status;
                }

                return '';
            },

            /**
             * @returns {string}
             */
            StatusIcon() {
                if (this.thresholds) {
                    switch (this.Status) {
                        case 'success':
                            return 'pficon-ok';
                            break;
                        case 'warning':
                            return 'pficon-warning-triangle-o';
                            break;
                        case 'danger':
                            return 'pficon-error-circle-o';
                            break;
                        default:
                            console.warn('Invalid Status');
                            return '';
                    }
                }
            }

        }
    }
</script>