
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Font-Awesome
@import "node_modules/font-awesome/css/font-awesome.min";

// PatternFly
@import "node_modules/patternfly/dist/css/patternfly.min";
@import "node_modules/patternfly/dist/css/patternfly-additions.min";

@media (min-width: 768px) {
  .navbar-pf .navbar-brand {
    padding: 4px 0 4px;
  }

  .navbar-pf .navbar-utility {
    font-size: 15px;
  }

  .navbar-brand {
    font-size: 20px;
  }
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  color: #fff;
  background-color: #428bca;
}

.nav-pills>li>a {
  border-radius: 0;
  color: #000;
  text-decoration: none;
}

.nav-pills>li>a:hover {
  color: #000;
  text-decoration: none;
}

.nav-stacked>li {
  margin-top: 0;
  margin-left: 0;
  border: 1px solid #dadada;
  background-color: #ffffff;
}

.active2 {
  border-right:4px solid #428bca;
}