<template>
    <div id="modules-table">
        <div class="container-fluid">
            <div class="row toolbar-pf">
                <div class="col-sm-12">
                    <div class="toolbar-pf-actions">
                        <div class="form-group">
                            <div class="dropdown btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">Name <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="selected"><a href="#">Name</a></li>
                                    <li><a href="#">Enabled</a></li>
                                    <li><a href="#">Disabled</a></li>
                                    <li><a href="#">Protected</a></li>
                                    <li><a href="#">Menu Items</a></li>
                                </ul>
                            </div>
                            <button class="btn btn-link" type="button">
                                <span class="fa fa-sort-alpha-asc"></span>
                            </button>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" type="button">Rescan</button>
                            <button class="btn btn-default" type="button">Disable All</button>
                            <button class="btn btn-default" type="button">Enable All</button>
                            <button class="btn btn-default" type="button">Unprotect All</button>
                            <button class="btn btn-default" type="button">Protect All</button>
                            <button class="btn btn-default" type="button">All Menu Items</button>
                        </div>
                        <div class="toolbar-pf-action">
                            <div class="form-group toolbar-pf-find">
                                <button class="btn btn-link btn-find" type="button">
                                    <span class="fa fa-search"></span>
                                </button>
                                <div class="find-pf-dropdown-container">
                                    <input type="text" class="form-control" id="find" placeholder="Find By Keyword...">
                                    <div class="find-pf-buttons">
                                        <span class="find-pf-nums">1 of 3</span>
                                        <button class="btn btn-link" type="button">
                                            <span class="fa fa-angle-up"></span>
                                        </button>
                                        <button class="btn btn-link" type="button">
                                            <span class="fa fa-angle-down"></span>
                                        </button>
                                        <button class="btn btn-link btn-find-close" type="button">
                                            <span class="pficon pficon-close"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row toolbar-pf-results">
                        <div class="col-sm-12">
                            <h5>{{modules.length}} Results</h5>
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->

        <div class="container-fluid">
            <div class="list-group list-view-pf list-view-pf-view">

                <p v-if="modules.length <= 0"><strong>No Modules Found</strong></p>

                <modules-list-view-item v-for="item in modules" :item="item"></modules-list-view-item>
            </div>
        </div>

        <alert @input="alertSync"
               :value="alertBox.show"
               placement="top-right"
               duration="5000"
               :type="alertBox.type"
               width="400px"
               dismissable
        >
            <strong>{{alertBox.title}}</strong>
            <p>{{alertBox.message}}</p>
        </alert>
    </div>
</template>

<script>
    import {alert} from 'vue-strap'
    import ModulesListViewItem from './ModulesListViewItem.vue'

    export default {
        components: {
            alert,
            'modules-list-view-item': ModulesListViewItem,
        },

        data() {
            return {
                alertBox: {
                    type: '',
                    title: '',
                    message: '',
                    show: false
                }
            }
        },

        computed: {
            modules() {
                return this.$store.getters.getModules;
            }
        },

        mounted() {
            $(".btn-find").click(function () {
                $(this).parent().find(".find-pf-dropdown-container").toggle();
            });

            // Upon clicking the find close button, hide the find dropdown content
            $(".btn-find-close").click(function () {
                $(".find-pf-dropdown-container").hide();
            });

            //$(".bootstrap-switch").bootstrapSwitch();

        },

        methods: {
            alertShow(title, message, type='success') {
                this.alertBox = {
                    type: type,
                    title: title,
                    message: message,
                    show: true
                }
            },

            alertSync(val) {
                if(val == true) {
                    this.alertBox.show = val;
                } else {
                    this.alertBox = {
                        type: '',
                        title: '',
                        message: '',
                        show: val
                    }
                }
            }
        }
    }
</script>