<template>
    <div id="module-create-form">
        <div class="form-group">
            <label for="name">Name</label>
            <input name="name" type="text" class="form-control" placeholder="Name of module" id="name" v-model="frmData.name">
            <p class="help-block">Should not contain spaces! Example: "Clients"</p>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" @click="create()">Create</button>
            </div>
        </div>

        <alert @input="alertSync"
               :value="alertBox.show"
               placement="top-right"
               duration="5000"
               :type="alertBox.type"
               width="400px"
               dismissable
        >
            <strong>{{alertBox.title}}</strong>
            <p>{{alertBox.message}}</p>
        </alert>
    </div>
</template>

<script>
    import {alert} from 'vue-strap'

    export default {
        components: {
            'alert': alert
        },
        data() {
            return {
                frmData: {
                    name: ''
                },
                alertBox: {
                    type: '',
                    title: '',
                    message: '',
                    show: false
                }
            }
        },
        methods: {
            alertShow(title, message, type='success') {
                this.alertBox = {
                    type: type,
                    title: title,
                    message: message,
                    show: true
                }
            },
            alertSync(val) {
                if (val === true) {
                    this.alertBox.show = val;
                } else {
                    this.alertBox = {
                        type: '',
                        title: '',
                        message: '',
                        show: val
                    }
                }
            },
            create() {
                this.$http.post('/api/v1/modules', {
                    'action': 'create',
                    'params': {
                        'name': this.frmData.name
                    }
                }).then((response) => {

                    this.$store.commit('ADD_MODULE', response.body);

                    this.alertShow('Success', 'Module created successfully!');

                    this.frmData.name = '';
                }, (response) => {
                    this.alertShow('Error!', response.body.errors, 'danger');
                    this.frmData.name = '';
                    console.log(response.body);
                });
            }
        }
    }
</script>