<template>
    <div id="modules-list-view-item">
        <div :class="['list-group-item', {'list-view-pf-expand-active': !hideInfoRow}]">
            <div class="list-view-pf-actions">

                <div class="dropdown pull-right dropdown-kebab-pf">
                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight9"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="fa fa-ellipsis-v"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight9">
                        <li>
                            <a href="#"
                               @click.prevent="update((!item.active ? 'enable' : 'disable'))"
                            >
                                {{ item.active ? 'Disable' : 'Enable' }}
                                        </a>
                        </li>
                        <li>
                            <a href="#">{{ item.protected ? 'Unprotect' : 'Protect' }}</a>
                        </li>
                        <li>
                            <a href="#">{{ item.menuitem ? 'Remove from menu' : 'Add to menu' }}</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#" @click.prevent="confirmRemove()"><span class="text-danger">REMOVE</span></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div @click="toggleInfoRow" class="list-view-pf-main-info">
                <div class="list-view-pf-left">
                    <span :class="['pficon', 'list-view-pf-icon-md', {'pficon-ok' : item.active,'pficon-error-circle-o' : !item.active}]"></span>
                </div>
                <div class="list-view-pf-body">
                    <div class="list-view-pf-description">
                        <div class="list-group-item-heading">
                            {{ item.name }}
                        </div>
                        <div class="list-group-item-text">
                            {{ item.description }}
                        </div>
                    </div>
                    <div class="list-view-pf-additional-info">
                        <div class="list-view-pf-additional-info-item">
                            <span class="pficon pficon-bundle"></span>
                            <strong>3</strong> Dependencies
                        </div>
                        <div class="list-view-pf-additional-info-item">
                            <span class="pficon pficon-registry"></span>
                            <strong>0</strong> Aliases
                        </div>
                        <div class="list-view-pf-additional-info-item">
                            <span class="pficon pficon-search"></span>
                            <strong>5</strong> Keywords
                        </div>
                        <div class="list-view-pf-additional-info-item">
                            <span class="pficon pficon-topology"></span>
                            <strong>8</strong> Providers
                        </div>
                    </div>
                </div>
            </div>

            <div :class="['list-group-item-container', 'container-fluid', {'hidden' : hideInfoRow}]">
                <div class="close">
                    <span @click="toggleInfoRow" class="pficon pficon-close"></span>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <dl class="dl-horizontal">

                            <dt>Package Name</dt>
                            <dd>{{attributes.name}}</dd>

                            <dt>Package Description</dt>
                            <dd>{{attributes.description}}</dd>

                            <dt>Authors</dt>
                            <dd>
                                <ul class="list-unstyled">
                                    <li v-for="author in attributes.authors">
                                        <p>{{author.name}} <strong>{{author.email}}</strong></p>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          </p>
                    </div>
                </div>
            </div>
        </div>

        <modal v-model="showConfirmRemove" effect="zoom">

            <div slot="modal-header" class="modal-header">
                <h4 class="modal-title">
                    <span class="text-danger"><strong>DANGER!</strong></span>
                </h4>
            </div>

            You are about to <span class="text-danger"><strong>REMOVE</strong></span> the {{item.name}} module!
            This action is non-reversible and everything related to this module will be permanently removed!

            <div slot="modal-footer" class="modal-footer">
                <button type="button" class="btn btn-default" @click="showConfirmRemove = false">Cancel</button>
                <button type="button" class="btn btn-danger" @click="confirmRemove(true)">REMOVE</button>
            </div>

        </modal>

    </div>
</template>

<style>
    .list-group-item-container {
        border-top: 1px #cdcdcd solid;
    }

    .list-view-pf .list-group-item.list-view-pf-expand-active:first-child {
        border-top: 1px #cdcdcd solid;
    }

    .list-view-pf .list-group-item.list-view-pf-expand-active {
        border: 1px #cdcdcd solid;
    }
</style>

<script>
    import {modal} from 'vue-strap'

    export default {
        props: ['item'],

        components: {
            modal
        },

        data() {
            return {
                hideInfoRow: true,
                showConfirmRemove: false,
                attributes: {
                    name: '',
                    description: '',
                    authors: []
                }
            }
        },

        computed: {},

        mounted() {

        },

        methods: {
            toggleInfoRow() {
                this.hideInfoRow = !this.hideInfoRow;

                if (this.attributes.name === '') {
                    this.getAttributes();
                }
            },

            getAttributes() {
                const data = {
                    'action': 'getComposerAttributes',

                    'params': {
                        'name': this.item.name
                    }
                };

                this.$http.post('/api/v1/modules', data).then((response) => {
                    this.attributes.name = response.body['name'];
                    this.attributes.description = response.body['description'];
                    this.attributes.authors = response.body['authors'];
                }, (response) => {
                    this.$parent.alertShow('Error!', response.body.errors, 'danger');
                    console.log(response.body);
                });
            },

            confirmRemove(confirmed = null) {
                this.showConfirmRemove = true;

                if (confirmed) {
                    this.showConfirmRemove = false;

                    const data = {
                        'action': 'remove',

                        'params': {
                            'name': this.item.name
                        }
                    };

                    this.$http.delete('/api/v1/modules', {body: data}).then((response) => {

                        // todo BUG: this is not working as expected, the payload seems correct for mutation
                        this.$store.commit('DELETE_MODULE', this.item.id);

                        this.$parent.alertShow('Success', `Successfully removed ${this.item.name} module`);

                    }, (response) => {

                        this.$parent.alertShow('Error!', response.body.errors, 'danger');
                        console.log(response.body);

                    });
                }
            },

            update(action) {
                const data = {
                    'action': action,

                    'params': {
                        'name': this.item.name
                    }
                };

                this.$http.patch('/api/v1/modules', data).then((response) => {

                    this.$store.commit('UPDATE_MODULE', response.body);
                    this.$parent.alertShow('Success', `Successfully updated ${this.item.name} module!`);

                }, (response) => {

                    this.$parent.alertShow('Error!', response.body.errors, 'danger');
                    console.log(response.body);

                });
            },
        }
    }
</script>