<!--
    VueJS Single File Component
    Reference https://vuejs.org/v2/guide/single-file-components.html
-->
<template>
    <div id="example">
        <h1>{{message}}</h1>
    </div>
</template>

<script type="text/babel">
    export default {
        data: function () {
            return {
                'message': 'This is an example component!'
            }
        },
        mounted: function () {
            console.log('Example Component Loaded!');
        }
    }
</script>